.back{
  display: inline-block;
  padding: 5px 10px;
  margin: 10px 0 0 0;
  cursor: pointer;
}

.task-wrapper div{
  padding: 0 0 5px 0
}

.edit-task{
  padding: 5px;
  border: 1px solid #cccccc;
}

.task-name{
  cursor: pointer;
}
