<div class="task-wrapper">

  <div>
    <span>Name: </span>
    <span
      class="task-name"
      (click)="onEditTaskName(editTaskInput)"
      [hidden]="editTask"
    >
      {{ task.name }}
    </span>
    <input
      [hidden]="!editTask"
      #editTaskInput
      class="edit-task"
      type="text"
      value="{{ task.name }}"
      (blur)="onBlurTaskInput()"
    >

  </div>

  <div *ngIf="task.tags">
    <span>Tags: </span>
    <span>{{ task.tags}}</span>
  </div>

  <div *ngIf="task.actual_effort">
    <span>Actual effort: </span>
    <span>{{ task.actual_effort}}</span>
  </div>

  <div *ngIf="task.estimated_effort">
    <span>Estimated effort: </span>
    <span>{{ task.estimated_effort}}</span>
  </div>

  <div *ngIf="task.due_date">
    <span>Due date: </span>
    <span>{{ task.due_date | date: 'dd.MM.yyyy hh:mm'}}</span>
  </div>

  <button class="back" (click)="onBackToList()">Back</button>

</div>
